# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
broadcast/
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Coverage
coverage/
lcov.info

.DS_Store

# ABI files - ignore everything except .abi.json files
abi/**/*
!abi/**/
!abi/BittyVault.sol/BittyVault.abi.json
!abi/BittyVaultFactory.sol/BittyVaultFactory.abi.json
!abi/Migrator.sol/Migrator.abi.json
!abi/WhiteList.sol/WhiteList.abi.json
!abi/LidoProvider.sol/LidoProvider.abi.json
